p{
  text-align: center;
  font-family: montserrat;
  margin: 0px;
}

.mdl{
  font-size: 50px;
  font-weight: 600;
  margin: 8px 0px 10px;
}

.odr{
  font-size: 23px;
}

.delivery{
  text-decoration: underline;
}
