p{
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.videotitle {
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
  margin-top: 32px;
}

.videostats {
 font-size: 14px;
 color: rgb(96, 96, 96);
 margin-bottom: 20px;
 line-height: 21px;
}

.channel{
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.description{
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 20px;
  margin-bottom: 100px;
}

.shoplink {
  font-size: 14px; 
  color: white;
  background-color: rgb(227, 65, 64);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.shop:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tahoma{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  font-family: Tahoma;
}

.htmlcss{
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.level{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:grey;
  font-size: 14px;
  margin-bottom: 18px;
}

.course-description{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  width: 270px;
  margin-bottom: 16px;
  font-weight: 400;
}

.getstarted{
  background-color: green;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 7px 14px 7px ;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.getstarted:hover {
 opacity: 0.8;
}

.getstarted:active{
 opacity: 0.4;
}
.deals{
  margin-top: 20px;
  font-weight: 700;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3px;
}

.sales{
  color: rgb(191, 0, 0);
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.shopping{
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
}

.apple{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}

.lrn{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 132, 255);
  cursor: pointer;
  text-align: center;
}
.lrn:hover{
  text-decoration: underline;
}

.new{
  color: red;
  font-family: arial;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.mac{
  font-family: arial;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-bottom: 0px;
}

.charge{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
  margin: -3px 0px 8px;
}

.money{
  text-align: center;
  color: rgb(47, 47, 47);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 10px;
  font-size: 21px;
  margin-bottom: 18px;
}
.buy{
  background-color: rgb(72, 72, 255);
  color: white;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 50px;
  padding: 5px 14px 7px;
  text-align: center;
  font-size: 15px;
  display: block;
  margin: auto;
  cursor: pointer;
}  
 .t10{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50px;
   margin-bottom: 10px;
}
  .usd{
    font-size: 25px;
    font-family: arial;
    color: rgb(14, 12, 112);
    margin-bottom: 10px;
  }

  .today{
    font-size: 25px;
    font-family: arial;
    color: darkgreen;
    margin-bottom: 10px;
  }

  .red{
    font-size: 25px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
  }

  .more{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px 0px 0px;
 }

 .camp{
  font-weight: 700;
  margin-bottom: 8px;
 }

 .id{
  color: rgb(9, 9, 90);
  cursor: pointer;
  font-weight: 100;
 }

 .webdev{
  width: 650px;
  line-height: 25px; 
  margin: 0px 0px 20px;
 }

.chp_it{
  color: blue;
  cursor: pointer;
}