.body{
  margin: 0px;
  font-family: Roboto; 
  padding-top: 81px; 
  padding-left: 96px; 
  padding-right: 24px; 
  background-color: rgb(247, 247, 247); 
  padding-bottom: 20px;
 }
 
p{
    margin: 0px;
  }
  
  img{
    margin-bottom: 0px;
  }

  .header{
    height: 56px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    flex-shrink: 0;
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-bottom-width: 1px;
  }

  @media (max-width:1200px) {
   
 .sidebar{
  padding-top: 5px;
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 72px;
  z-index: 200;
  background-color: white;
  }

  .sidebar-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 74px;
    width: 72px;
    cursor: pointer;
  }

  .sidebar-element:hover{
    background-color: rgb(237, 236, 236);
  }

  .sidebar-element img{
    height: 25px;
    margin-bottom: 6px;
  }
  
  .sidebar-element div{
    font-size: 9.4px;
  }
  }

@media (min-width:1200px) {

  .body{
    margin: 0px; 
    font-family: Roboto;  
    padding-top: 81px; 
    padding-left: 253px; 
    padding-right: 24px;
    background-color: rgb(247, 247, 247); 
    
  }
    
  
  .sidebar{
  background-color: white;
  padding-top: 5px;
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 228px;
  z-index: 200;
  }

  .sidebar-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 50px;
    width: 206px;
    cursor: pointer;
    margin-bottom: 2px;
    padding-left: 21px;
    transition: background-color 0.15s;
  }

  .sidebar-element:hover{
    background-color: rgb(237, 236, 236);
  }

  .sidebar-element img{
    height: 30px;
  }
  
  .sidebar-element div{
    font-size: 16px;
    padding-left: 20px;
  }
}

  .video1{
    width: 100%; 
     
  }

  
  
  .thumbnail-container{
    position: relative;
    margin-bottom: -5px;
   }
   
   .duration{
     position: absolute;
     bottom: 11px;
     right: 4px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 12px;
    
    padding: 4px 4px 4px;
    font-weight: 500;
    border-radius: 2px;
  }
  
  .thumbnail1{
    width: 100%;
  }
  
  .videogrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 16px;
    row-gap: 40px;
  }
  
  @media (max-width: 720px){
    .videogrid{
      grid-template-columns: 1fr;
    }
  }

  @media (min-width:720px) and (max-width:1000px){
    .videogrid{
      grid-template-columns: 1fr 1fr;
    }
  }
  
  

  .videoinfogrid{
    display: grid;
    grid-template-columns: 50px 1fr;
    
  }
  
  

  .channellogo{
    width: 36px;
    border-radius: 20px;
    margin: 13px 0px 0px 0px;
  }
  
  .channel-tooltip{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 80px;
    z-index: 300;
    border-style: none;
    top: 40px;
    left: 45px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.39);
    opacity: 0;
    transition: opacity 0.20s;
    pointer-events: none;
  }

  

  .videotitle{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
    width: 100%;
    margin-left: -2px;
    overflow: hidden;
  }

  @media (min-width:1000px){
    .videotitle{
      font-size: 16px;
      line-height: 24px;
    }
  }

  .videoauthor, 
  .videostats{
    line-height: 18px;
  }
  .videoauthor{
    color: rgb(96,96,96);
    font-size: 12px;
    margin-top: 7px;
    margin-left: -2px;
  }

  .videochannel, .videoname{
    height: 100px;
  }
  
  .videostats{
    color: rgb(96,96,96);
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: -2px;
  }

  @media (min-width: 1000px){
    .videoauthor, 
    .videostats{
      font-size: 14px;
    }
  }
  

  .left{
    display: flex;
    flex-direction: row;
    width: 160px;    
    align-items: center;
}

.middle{
  display: flex;
  flex-direction: row;
  width: 500px;
  margin: 0px 40px 0px;
  align-items: center;
  justify-content: center;
}

.searchbox{
  height: 35px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(202, 202, 202);
  padding-left: 16px;
  border-radius: 2px ;
  font-size: 15px;
  box-shadow: inset 1px 1px 1px rgba(177, 177, 177, 0.227);
  width: 0px;
  flex: 1;
  font-family: Roboto;
}

.searchbox::placeholder{
  font-size: 16px;
  color: rgb(126, 126, 126);
}

.search-button-container,
.voice-search-button-container,
.upload-container,
.youtubeapps-container,
.notification-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button-container .tooltip,
.voice-search-button-container .tooltip,
.upload-container .tooltip,
.youtubeapps-container .tooltip,
.notification-container .tooltip{
  position: absolute;
  bottom: -50px;
  background-color: rgba(87, 87, 87, 0.802);
  color: white;
  padding: 10px 7px 10px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.20s;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-button-container:hover .tooltip,
.voice-search-button-container:hover .tooltip,
.upload-container:hover .tooltip,
.youtubeapps-container:hover .tooltip,
.notification-container:hover .tooltip{
  opacity: 1;
}
  
.right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 207px;
    
    flex-shrink: 0;
  }
  .notification-container{
  
   padding-top: 5px;
  }

  .notification-counter{
    position: absolute;
    top: 0;
    right: -8px;
    background-color: rgb(178, 2, 2);
    padding: 2px 5px 2px;
    border-radius: 20px;
    font-size: 10px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }

  .abc{
    position: relative;
  }

  .abc:hover .channel-tooltip{
    opacity: 1;
  }